<div class="container">
  <h1>Url Stats</h1>

  <p>Max Response Time: <%= url.max_response_time %></p>
  <p>Min Response Time: <%= url.min_response_time %></p>
  <p><%= erb :_url_response_times, locals: {url: url} %></p>
  <p>Average Response Time: <%= url.avg_response_time %></p>
  <p><%= erb :_url_verbs_used, locals: {url: url} %></p>
  <p><%= erb :_url_most_popular_referrers, locals: {url: url} %></p>
  <p><%= erb :_url_most_popular_user_agents, locals: {url: url} %></p>
</div>
